* {
    font-family: 'Amatic SC', sans-serif;
}

body {
	background: linear-gradient(-45deg, #fc80fc, #b158b1, #ce68cc, #ff83f5, #fc80fc);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	50% {
		background-position: 100% 70%;
	}
	50% {
		background-position: 100% 70%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-image: url(leopard-print-backdrop.jpg);
    border-radius: 30px;
    width: 95%;
}

#headertext {
    background-color: black;
    font-size: 60px;
    color: white;
    padding: 20px;
}

#main {
    display: flex;
    flex-direction: column;
}

#menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: black;
    padding: 20px;
    width: 90%;
}

.test {
    background-color: black;
    color:white;
    text-decoration: none;
    border-style: solid;
    border-radius: 15px;
    font-size: 40px;
    margin: auto;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#items {
    background-color: black;
    color:white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.test:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.test:active {
    background-color: black;
    color: white;
    cursor: pointer;
}

#menubar:hover {
    box-shadow: 0px 0px 20px 10px #ffffff;
    transition: box-shadow 0.6s ease-in-out;
}

#menubar:after {
    box-shadow: 0px 0px 20px 10px #ffffff;
    transition: box-shadow 0.6s ease-in-out;
}